* {
	margin: 0;
	padding: 0;
}

.background {
	width: 650px;
	background: url(../img/Untitled-4.png);
	float: left;
}	

.background .column1  {
	width: 190px;
	float: left;
	padding: 5px;
	
}
.background .column2 {
	width: 190px;
	float: left;
	padding: 5px;
	
}
.background .column3 {
	width: 240px;
	float: left;
	padding: 5px;
	
}

.solution2 {
	width: 650px;
	overflow: hidden;
	margin-top: 20px

}
.solution2 .column1 {
	width: 180px;
	background: orange;
	float: left;
	padding: 10px;
	padding-bottom: 20010px;
	margin-bottom: -20000px; 

}
.solution2 .column2 {
	width: 180px;
	background: white;
	float: left;
	padding: 10px;
	padding-bottom: 20010px;
	margin-bottom: -20000px; 
}
.solution2 .column3 {
	width: 230px;
	background: green;
	float: left;
	padding: 10px;
	padding-bottom: 20010px;
	margin-bottom: -20000px; 
}
.solution3 {
	margin: 10px;
}
.fon1 {
	width: 100%;
	float: left;
	position: relative;
	background: yellow;
	right: 30%;

}
.fon2 {
	width: 100%;
	float:left;
	position: relative;
	background: blue;
	right: 40%;
	;

}
.fon3 {
	width: 100%;
	background: green;
	float: left;
	
}
.fon1 .column1 {
	width: 29%;
	float: left;
	position: relative;
	overflow: hidden;
	left: 70%;
	margin: 10px;
}
.fon2 .column2 {
	width: 29%;
	float: left;
	overflow: hidden;
	position: relative;
	left: 70%;
	margin: 10px;
}
.fon3 .column3 {
	width: 38%;
	float: left;
	overflow: hidden;
	position: relative;
	left: 70%;
	margin: 10px;
}



