body {
	background-color: #f9f9f9;
	font-family: Tahoma, sans-serif;
	font-size: 14px;
}
a {
	text-decoration: none;
	color: black;
}
.wrapper {
	margin: 0 auto;
	width: 1068px;
	height: 100%;
	background-color: #ffffff;
	padding-top: 50px;
	box-shadow: 0px 1px 5px 2px rgba(158, 155, 158, 0.2);
	border-left: 2px solid #dbdbdb;
	border-right: 2px solid #dbdbdb;
}
.header {
	margin: 50px;
}
.logo {
	padding-bottom: 40px;
}
.header_menu {
	width: 970px;
	background: rgba(71,70,70,1);
	background: -moz-linear-gradient(top, rgba(71,70,70,1) 0%, rgba(89,89,89,1) 41%, rgba(82,81,81,1) 61%, rgba(92,92,92,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(71,70,70,1)), color-stop(41%, rgba(89,89,89,1)), color-stop(61%, rgba(82,81,81,1)), color-stop(100%, rgba(92,92,92,1)));
	background: -webkit-linear-gradient(top, rgba(71,70,70,1) 0%, rgba(89,89,89,1) 41%, rgba(82,81,81,1) 61%, rgba(92,92,92,1) 100%);
	background: -o-linear-gradient(top, rgba(71,70,70,1) 0%, rgba(89,89,89,1) 41%, rgba(82,81,81,1) 61%, rgba(92,92,92,1) 100%);
	background: -ms-linear-gradient(top, rgba(71,70,70,1) 0%, rgba(89,89,89,1) 41%, rgba(82,81,81,1) 61%, rgba(92,92,92,1) 100%);
	background: linear-gradient(to bottom, rgba(71,70,70,1) 0%, rgba(89,89,89,1) 41%, rgba(82,81,81,1) 61%, rgba(92,92,92,1) 100%);
}
.header_menu li {
	display: inline-block;
	line-height: 40px;
	padding: 0 33px;
}
.header_menu li a {
	color: white;
	font-size: 15px;
}
.header_menu li:hover {
	background: #464646;
	border-left:  1px  solid #838383;
	border-right:  1px  solid #838383;
}
.content {
	padding: 0 50px 0 50px;
}
.content_menu {
	float: left;
	width: 240px;
	border:  1px  solid #c8c8c8;
}
.content_menu li {
	border-bottom: 1px solid #c8c8c8; 
	line-height: 38px;
}
.content_menu li a{
    font-size: 15px;
    padding-left: 30px;
    color: #656363;
}
.content_menu li:last-child {
	border-bottom: none;
}
.content_menu li a:hover{
	padding-left: 50px; 
	color: #2c2c2c;
	background: #f9f9f9;
}
.photo {
	float: right;
	border: 1px  solid #c8c8c8;
	padding: 50px 90px;
	margin-bottom: 40px;
}
.text_block {
	float: right;
	width: 640px;
	padding: 0 20px;
	line-height: 24px;
	margin-bottom: 100px;
}	
.footer {
	clear: both;
	width: 970px;
	margin: 0 50px 60px 50px;
	background: #e1e1e1;
}
.footer li{
	display: inline-block;
	line-height: 40px;
	padding: 0 35px;
	font-size: 15px;	
}
.footer li a:hover {
	text-decoration: underline;
}	
.footer li:last-child{
	padding-left: 235px;
}
