body {
	background: #f9f9f9;
	font-family: sans-serif;
	font-size: 13px; 
    }

.clearfix:after {
	content: '';
	clear: both;
	display: block;
}
	    
.wrapper {
	background: #ffffff;
	margin: 0 auto;
	width: 966px;
	border: 1px solid #d4d4d4; 
	box-shadow: 0px 0px 1px 0px #9e9c9e;
	padding: 50px 48px 60px 46px;
    }
    /*HEADER*/   
.menu {
	margin-top: 40px;
	background: linear-gradient(to top, #464545, #5d5d5d);box-shadow: -webkit-linear-gradient( 90deg, rgb( 68, 67, 67 ) 0%, rgb( 94, 94, 94 ) 100%); 
	box-shadow: -webkit-linear-gradient( 90deg, rgb( 68, 67, 67 ) 0%, rgb( 94, 94, 94 ) 100%); 
	
} 
.menu li {
	margin: 1px;
	display: inline-block;
    background: -webkit-linear-gradient( 90deg, rgb( 68, 67, 67 ) 0%, rgb( 94, 94, 94 ) 100%); 
	  
	line-height: 40px;
	padding-right: 65px;
	padding-left: 25px;
	text-shadow: 0.5px 0.866px 1px rgb( 0, 0, 0 );
}   
.menu a {
	display: block;
	text-decoration: none;
	color: white;	
	font-size: 14px;
}

.menu li:hover {
	margin: 0px;
	background: #454545;
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
    background-image: -webkit-linear-gradient( 90deg, rgb( 46, 46, 46 ) 0%, rgb( 74, 74, 74 ) 100%);
}
    /*CONTAINER*/
.container {
	margin-top: 40px;

}
.left_menu {
	width: 240px;
	float: left;
	list-style: none;
	border: 1px solid #c8c8c8;
	line-height: 40px;
}    
.left_menu a {
	display: block;
	text-decoration: none;
	color: #656363;	
	font-size: 14px;
}	
.left_menu a:hover {
	color: black;
	padding-left: 35px;
}
.left_menu li {
	line-height: 40px;
	padding-left: 23px;
	border-bottom: 1px solid #c8c8c8;  
}
.left_menu li:last-child {
	border-bottom: none;
}

.content {
	width: 680px;
	float: right;	
}
.content img {
	border: 1px solid #c8c8c8; 
	padding: 50px 90px 50px 90px;
	text-align: center;

}
.text_block {
    margin-top: 40px;
	width: 680px;
	float: right;
	margin-bottom: 60px;
	color: #656363;
}
.text_block  {
	line-height: 25px;
	padding-left: 25px;
	
}
/*FOOTER*/

.footer {
	clear: both;
	background: #e1e1e1;

	
}
.footer a {
	text-decoration: none;
	font-size: 14px;
	color: #2c2c2c;
	line-height: 40px;

}
.footer li {
	margin: 1px;
	padding-left: 50px;
	margin: 1px;
	display: inline-block;
}

.footer li:hover {
    text-decoration: underline;
}

.footer p  {
	padding-right: 25px; 
	margin-top: -25px;
    float: right;

}
